.post-grid-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    display: flex;
}

.post-grid-cats-list {
    text-align: center;
    margin: 0 0 50px 0;
    list-style: none;
    padding: 0;
    border-radius: 5px;
}

.post-grid-cats-list li {
    display: inline-block;
}

.post-grid-cats-list li a {
    padding: 20px 30px;
    display: block;
    background-color: #f8f6ff;
    color: #7d7a94;
    font-size: 20px;
    line-height: 1.2em;
    font-weight: 600;
    border-radius: 5px;
    margin: 3px;
}

.post-grid-cats-list li a.active {
    background-color: #8941FF;
    color: white;
}

.post-grid-cats-list li:first-child a {
    margin-left: 0;
}

.post-grid-post-lists {
    grid-template-columns: repeat(3, 1fr);
    margin: 0 -1% !important;
    display: block;
    list-style: none;
    display: grid;
    grid-gap: 25px;
    margin: 0 0 15px 0 !important;
    padding: 0 !important;
}

.post-grid-post-lists li {
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: #eee;
    border-radius: 5px 5px 5px 5px;
    clear: none;
    float: left;
    text-align: center;
    overflow: hidden;
    padding: 0;
    background-color: #fff;
}

.post-grid-post-lists li .post-grid-image-wrap {
    overflow: inherit;
    position: relative;
}

.post-grid-post-lists li .post-grid-image-wrap img {
    backface-visibility: hidden;
    margin-bottom: 0;
    display: block;
    width: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.post-grid-post-lists li .post-grid-image-wrap .post-grid-details-wrap {
    padding: 15px 15px 15px 15px;
}

.post-grid-post-lists .post-grid-details-wrap h2 {
    line-height: 1.2em;
    color: #252525;
    font-weight: 500;
    margin: 0 0 8px;
    text-align: justify;
    font-size: 20px;
    padding: 10px 0 0 10px;
}

.post-grid-post-list {
    display: none;
}

.post-grid-post-list.active {
    display: block;
}

.post-grid-load-more {
    justify-content: center;
    clear: both;
    margin-top: 40px;
    display: flex;
}

.post-grid-load-more-button {
    color: #fff;
    background: #29d8d8;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 1em 2em;
    border: 0 solid;
    font-size: 16px;
    overflow: hidden;
}
